<% layout("./layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Create new listing</h2>
                <form action="/listings" method="POST">
                    <div class="mb-3"><label for="title" class="form-label">Title: </label>
                        <input type="text" id="title" placeholder="enter title" name="listings[title]"
                            class="form-control">
                    </div>
                    <div class="mb-3"><label for="description" class="form-label">Description: </label>
                        <textarea name="listings[description]" id="description" placeholder="enter description"
                            class="form-control"></textarea>
                    </div>
                    <div class="mb-3"><label for="image" class="form-label">Image URL: </label>
                        <input name="listings[image]" type="text" id="image" placeholder="Enter image url/Link"
                            class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4"><label for="price" class="form-label">Price: </label>
                            <input name="listings[price]" type="number" id="price" placeholder="enter Price"
                                class="form-control">
                        </div>

                        <div class="mb-3 col-md-8"><label for="country" class="form-label">Country: </label>
                            <input name="listings[country]" type="text" placeholder="enter country name" id="country"
                                class="form-control">
                        </div>
                    </div>

                    <div class="mb-3"><label for="location" class="form-label">Locations: </label>
                        <input name="listings[location]" type="text" id="location" placeholder="location"
                            class="form-control">
                    </div>
                    <button class="btn btn-dark add-btn">add</button><br><br>
                </form>
            </div>
        </div>
    </body>